/bin
/AppPrefEditor.jar
/*.xml
/AppPrefEditor_1.8.jar
/AppPrefEditor.32bit.bat
/AppPrefEditor.64bit.bat
/AppPrefEditor.64bit - 1.8.0 - pause.bat
/AppPrefEditor (admin).lnk
/AppPrefEditor.jar - Admin.lnk
/AppPrefEditor.jar - User.lnk
